<!DOCTYPE html>
<html>
	<head>
		<meta charset="urf-8" />
		<title>Hapi!</title>
		<style>
			* {
				font-family: "Times New Roman", Times, serif;
				font-weight: 100;
				color: #333;
			}

			h1 {
				margin: 40px;
				padding: 50px;
				text-align: center;
				background-color: #fa4;
				box-shadow: 10px 10px 25px 0px #888;
			}
		</style>
	</head>
	<body>
		{{{content}}}
	</body>
</html>